---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Entry.astro'
---

<Layout title="Dev Scratch.">
  <main>
    <ul>
      <Card title="First entry" description="Lorem, ipsum - first." />
      <Card title="Second entry" description="Lorem, ipsum - second." />
      <Card title="Third entry" description="Lorem, ipsum - third." />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

</style>
