@import url("https://fonts.googleapis.com/css?family=Inter%20Tight:700|Montserrat:400");

/* BASED ON: https://tailwindcss.com/docs/preflight */

/* Margins are removed */
*, ::after, ::before, ::backdrop, ::file-selector-button {
  margin: 0;
  padding: 0;
}

/* Border styles are reset */
*, ::after, ::before, ::backdrop, ::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}

/* Headings are unstyled */
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Lists are unstyled */
ol, ul, menu {
  list-style: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* STYLES */

:root {
  --text: hsl(0, 0%, 86%);
  --background: hsl(227, 12%, 15%);
  --primary: hsl(243, 68%, 48%);
  --secondary: hsl(243, 100%, 93%);
  --accent: hsl(242, 100%, 62%);
  --font-header: "Flux Architect";
  --font-body: "Montserrat";
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

h1 {
  font-size: 2rem;
  font-family: var(--font-header);
}

li {
  padding: 0.25rem 2rem;
}
