$bg-color: hsl(227, 12%, 15%);
$text-color: hsl(0, 0%, 86%);
$body-font: Montserrat;
$title-font: Coiny;

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $body-font;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-family: $title-font;
}

li {
  padding: 0.25rem 2rem;
}
